<div class="container" id="home-articles">
  <div class="row">
    <h2>Toutes les prestations</h2>
      <ul>
        <% @services.each do |service| %>
        <li class="col-xs-6 col-md-4 container-cards">
          <%= render 'presta_user', service: service %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div id="map" style="width: 100%; height: 400px;"></div>
      <br/>
        <% content_for(:after_js) do %>
          <script type="text/javascript">
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          </script>
        <% end %>
      </div>
    </div>
    <%= link_to new_service_path do %>
      <button class="btn btn-warning">New</button>
  <% end %>
</div> -->

