.coverhome {
  background-image: url('http://unsplash.it/1000/700/?random');
  background-size: cover;
  position:relative;
  height: 550px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
  text-align:center;

  h1 {
    margin:0;
    padding-top: 220px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px #000;

  }

  .search-form {
    background-color: rgba(88,226,194,0.6);
    padding: 20px;
    border-radius: 4px;
    margin-top:50px;

    .form-control {
      padding: 20px;
      width: 450px;
    }

    .btn-success {
      padding: 9px 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
