<div class="diving">
  <div class="container-fluid container-signup">
    <div class="row">
      <div class= "col-md-8 col-md-offset-2 form-profile ">
        <div class="text-center frame-picture">
          <%= image_tag @user.picture || "http://api.adorable.io/avatars/300/#{current_user.email}", class: "user-picture" %>
        </div>
        <h1 class="text-center"> <strong>  <%= @user.first_name %> <%=@user.last_name %> </strong> </h1>

      </div>
    </div>
  </div>
</div>
